@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 1px 3px 16px black;
  }

  .animate-loading-text {
    animation: loading-text 2s infinite ease-in-out;
  }

  @keyframes loading-text {
    50% {
      text-shadow: 0 0 15px white;
      transform: scale(1.05);
    }
  }

  .animate-score-pulse {
    animation: score-pulse 1s infinite;
  }

  @keyframes score-pulse {
    50% {
      transform: scale(1.05);
    }
  }
}

@layer components {
  .uno-card {
    position: relative;
    padding-top: 141%;
    border-radius: calc(var(--cardWidth) / 10);
    box-shadow: 0 0 10px #292727;
    transform-style: preserve-3d;
    width: var(--cardWidth);
  }

  .uno-card--no-shadow {
    box-shadow: none;
  }

  .uno-card--playable {
    cursor: pointer;
  }

  .uno-card--selectable {
    filter: contrast(0.5);
  }

  .uno-card .front,
  .uno-card .back {
    border-radius: calc(var(--cardWidth) / 10);
    background: whitesmoke;
    position: absolute;
    inset: 0;
    overflow: hidden;
    backface-visibility: hidden;
  }

  .uno-card .front {
    transform: translateZ(1px);
    font-family: sans-serif;
  }

  .uno-card .front .value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color);
    font-size: var(--fontBig);
    font-family: sans-serif !important;
    font-weight: bold;
    text-shadow: 5px 5px black;
    -webkit-text-stroke: black 2px;
  }

  .uno-card .front .card-icon {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .uno-card .front .value-small {
    position: absolute;
    color: white;
    -webkit-text-stroke: black 1.5px;
    font-weight: bold;
    font-size: var(--fontSmall);
    font-style: italic;
    font-family: sans-serif !important;
  }

  .uno-card .front .value-small.value-tl {
    top: 14px;
    left: 22px;
  }

  .uno-card .front .value-small.value-br {
    bottom: 14px;
    right: 22px;
    transform: scale(-1);
  }

  @media screen and (max-width: 1000px) {
    .uno-card .front .value-small {
      -webkit-text-stroke: black 1px;
    }

    .uno-card .front .value-small.value-tl {
      top: 9px;
      left: 13px;
    }

    .uno-card .front .value-small.value-br {
      bottom: 9px;
      right: 13px;
    }
  }

  .uno-card .front .icon-small {
    position: absolute;
    width: 20%;
  }

  .uno-card .front .icon-small.icon-tl {
    top: 25px;
    left: 20px;
  }

  .uno-card .front .icon-small.icon-br {
    bottom: 25px;
    right: 20px;
    transform: scale(-1);
  }

  @media screen and (max-width: 1000px) {
    .uno-card .front .icon-small.icon-tl {
      top: 14px;
      left: 11px;
    }

    .uno-card .front .icon-small.icon-br {
      bottom: 14px;
      right: 11px;
    }
  }

  .uno-card .back {
    transform: rotateY(180deg);
  }

  .cards-row {
    --cardsCnt: 0;
    --containerMaxWidth: 55vw;
  }

  .cards-row .card-container:not(:last-of-type) {
    margin-right: calc(
      -1 *
        max(
          calc(
            (
                var(--cardWidth) * var(--cardsCnt) - var(--containerMaxWidth)
              ) / (var(--cardsCnt) - 1)
          ),
          calc(var(--cardWidth) / 3)
        )
    );
  }

  .cards-column {
    --cardsCnt: 0;
    --cardHeight: calc(1.41 * var(--cardWidth));
    --containerMaxHeight: 50vh;
  }

  .cards-column .card-container:not(:last-of-type) {
    margin-bottom: calc(
      -1 *
        max(
          calc(
            (
                var(--cardHeight) * var(--cardsCnt) - var(--containerMaxHeight)
              ) / (var(--cardsCnt) - 1)
          ),
          calc(var(--cardHeight) / 2)
        )
    );
  }

  .waiting-loading {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 10px;
  }

  .waiting-loading span {
    animation: lobby-loading 1.2s ease-in-out infinite;
    position: absolute;
    width: 2px;
    background-color: white;
    box-shadow: 0 0 2px white;
  }

  .waiting-loading span:nth-child(1) {
    left: 5px;
    animation-delay: -0.24s;
  }

  .waiting-loading span:nth-child(2) {
    left: 10px;
    animation-delay: -0.12s;
  }

  .waiting-loading span:nth-child(3) {
    left: 15px;
    animation-delay: 0s;
  }

  @keyframes lobby-loading {
    0% {
      top: -1px;
      height: 1px;
    }
    50%,
    100% {
      top: -2px;
      height: 2px;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace !important;
}

:root {
  --red: hsl(0, 93%, 59%);
  --yellow: hsl(55, 93%, 59%);
  --green: hsl(122, 93%, 59%);
  --blue: hsl(224, 93%, 59%);

  --primary: #020f6c;
  --secondary: cyan;
  --panel-bg: rgba(0, 0, 0, 0.3);

  --cardWidth: 150px;
  --cardWidthBigger: 200px;

  --fontBig: 7rem;
  --fontSmall: 3rem;
}

@media screen and (max-width: 1600px) {
  :root {
    --cardWidth: 100px;
    --cardWidthBigger: 130px;

    --fontBig: 5rem;
    --fontSmall: 2rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --cardWidth: 70px;
    --cardWidthBigger: 100px;

    --fontBig: 4rem;
    --fontSmall: 1.4rem;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-container {
  perspective: 800px;
  width: var(--cardWidth);
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #161d3f;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #161d3f;
}

